{% extends '@App/layout.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
 {% endblock %}

{% trans_default_domain 'homepage' %}
{% block content %}

    <a href="#">
        <section id="castle" class="valign-wrapper">
            <h3 class="valign">{{ 'homepage.home-hashtag' |trans }}</h3>
        </section>
    </a>

    <a href="{{ path('cabsead') }}">
        <section id="cab" class="valign-wrapper">
            <h3 class="valign">{{ 'homepage.cab-hashtag' |trans }}</h3>
        </section>
    </a>

    <a href="{{ path('service_index', {'name': 'Restaurant', 'sort': 'list'}) }}">
        <section id="food" class="valign-wrapper last">
            <h3 class="valign">{{ 'homepage.food-hashtag' |trans }}</h3>
        </section>
    </a>

{% endblock %}