{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cab.css') }}">
{% endblock %}
{% block body %}
<div class="container white">
    <div class="row">
        <div class="col s4">
            <p class="right">On :</p>
        </div>
        <div class="col s6">
            <p>{% if course.departureDate %}{{ course.departureDate|date('d F Y') }}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">At :</p>
        </div>
        <div class="col s6">
            <p>    {% if course.departureTime %}{{ course.departureTime|date('H : i')}}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">From :</p>
        </div>
        <div class="col s6">
            <p>{{ course.departure }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">To :</p>
        </div>
        <div class="col s6">
            <p>{{ course.arrival }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">Seats left : </p>
        </div>
        <div class="col s6">
            <p><strong>{{ course.seatsAvailable }}</strong></p>
        </div>
    </div>

        {% if course.users %}

        {% endif %}

    <ul>{% if course.seatsAvailable > 0 %}
        <li>
            <a href="{{ path('course_join', {'id': course.id }) }}">
                <button type="submit" class="btn waves-effect waves-light btn_cab_check" value="Check" >Join
                    <i class="material-icons right">supervisor_account</i>
                </button>
            </a>
        </li>
        {% endif %}
        <p></p>
        <li>
            <a href="javascript:history.go(-1)">
                <button type="submit" class="btn waves-effect waves-light btn_cab_check" value="Check" >Go back
                    <i class="material-icons right">replay</i>
                </button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
