{% extends 'base.html.twig' %}

{% block body %}
<div class="container white">
    <div class="row">
        <div class="col s4">
            <p class="right">On :</p>
        </div>
        <div class="col s6">
            <p>{% if course.departureDate %}{{ course.departureDate|date('d F Y') }}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">At :</p>
        </div>
        <div class="col s6">
            <p>    {% if course.departureTime %}{{ course.departureTime|date('H:i:s')}}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">From :</p>
        </div>
        <div class="col s6">
            <p>{{ course.departure }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">To :</p>
        </div>
        <div class="col s6">
            <p>{{ course.arrival }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <p class="right">Seats left : </p>
        </div>
        <div class="col s6">
            <p><strong>{{ course.seatsAvailable }}</strong></p>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('cabsead',{ course: course.departure } ) }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
