{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cab.css') }}">
{% endblock %}
{% block body %}
    <div class="container white">
        <div class="row row_driver">
            <div class="col s12">
                <h4 class="center-align">Driver Book</h4>
            </div>
            <div class="container">

                {% for drivers in driver %}
                 <div class="row driver">
                     <div class="col s12">{{  drivers.name }}</div>
                {% if drivers.language %}
                    <div class="col s12">  {{ drivers.language }}</div>
                    {% endif %}
                {% if drivers.tel1 %}
                     <div class="col s12"> {{ drivers.tel1 }}</div>
                    {% endif %}
                    {% if  drivers.tel2 %}
                     <div class="col s12"> {{ drivers.tel2 }}</div>
                    {% endif %}
                    {% if  drivers.email %}
                     <div class="col s12"> {{ drivers.email }}</div>
                    {% endif %}
                    {% if  drivers.creditCardAccepted %}
                     <div class="col s12">Accept credit card</div>
                {% endif %}
                 </div>
                {% endfor %}
                <a href="javascript:history.go(-1)">
                    <button type="submit" class="btn waves-effect waves-light btn_cab_check" value="Check" >Go back
                        <i class="material-icons right">replay</i>
                    </button>
                </a>
{% endblock %}
